# Byte-compiled / cache
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Virtual environments
env/
venv/
app/

# Django
db.sqlite3
media/
staticfiles/
*.pyc
migrations/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
